.root {
  position: fixed;
  height: 95vh;
  width: 95vw;
  top: 2.5%;
  right: 2.5%;

  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.content {
  width: 100%;
  height: 100%;

  overflow: hidden;
  display: flex;
}

.cellFixed {
  height: 100%;
  width: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.body {
  height: fit-content;

  display: flex;
  padding: 40px 0 0 20px;

}

.report {

}

.rt {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
}