.root {
  width: 100%;
  height: fit-content;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.btnBuild {
  justify-content: space-between !important;
  border-radius: 2px !important;
  text-transform: none !important;
  width: 100%;
}

.btnCheck {
  justify-content: flex-start !important;
  height: 30px;
  padding: 4px 0;
  border-radius: 2px !important;
  text-transform: none !important;
}

.container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
}

.checkbox-custom {
  input[type='checkbox']:checked + span {
    background-color: var(--checkbox-color);
    border-color: var(--checkbox-color);
  }
  input[type='checkbox']:checked + span::after {
    border-color: #fff;
  }
}

